body {
  font-family: 'Thasadith', sans-serif !important;
  background-image: url('../images/blurredfence.jpg');
  background-size: cover;
  color: white;
  width: 100%;
}

h2 {
  color: white !important;
  font-size: 7vh !important;
  font-family: 'Thasadith', sans-serif !important;
  /*font-weight: bold !important;*/
}

a {
  font-style: none;
  color: white !important;
}

a:hover {
  font-style: none;
  text-decoration: none;
  color: grey !important;
}

.title {
  color: black;
}

#topit {
  width: 100%;
  height: 5vh;
  background-color: white;
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.project {
  margin-bottom: 5vh;
  margin-top: 2vh;
  justify-self: center;
}

#main {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 42px;
}

#wrap {
  margin-left: 8vh;
  display: grid;
  justify-items: stretch;
}

#navigate {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  /*background-color: #0A373A !important;*/
  opacity: .8;
  width: 100%;
  height: 15vh;
}

#footer {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 15vh;
  /*background-color: #0A373A !important;*/
  opacity: .8;
  margin-top: 3.2vh;
  bottom: 0;
}

#welcome {
  font-size: 5vh;
}

#below-welcome {
  margin-left: 0.5vh;
  font-size: 2vh;
}

.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.navigate-items {
  font-size: 2.2vh;
  font-weight: bold;
}

#about-title {
  color: black;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 48%;
  background: red;
}

#projects-title {
  font-size: 7vh;
  margin-bottom: 2vh;
  /*color: black !important;*/
}
#projects-title a {
  color: black;
  font-weight: bold;
}

#projects-title a:hover {
  color: grey;
}

.contained, figure{
  width: 100vh;
  height: 55vh;
}

.contained{
  perspective:1000;
}

.card{
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

figure{
  background: #2e5d5a;
  color: #fff;
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

figure.front{
  transform: rotateY(0deg);
  z-index: 2;
}

figure.back,
.card.flipped{
  transform: rotateY(180deg);
}

figure img{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 2em;
  backface-visibility: hidden;
}

.front .caption{
  font-size: 1.25em;
}

.front .caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0,50%,0);
  transition: opacity 0.35s, transform 0.35s;
}

.front:hover .caption:before{
  opacity: 1;
  transform: translate3d(0,0,0);
}

.front h2{
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #272833;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
}

.front h2 span {
  font-weight: bold;
}

.front h2:after{
  position: absolute;
  bottom: -10px;
  left: 70px;
  right: 70px;
  height: 2px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-130%,0,0);
}

.front:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.front:hover h2:after {
  transform: translate3d(0,0,0);
}

.front p {
  letter-spacing: 1px;
  font-size: 68.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}

.back .caption:before,
.back .caption:after{
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  /*content: '';*/
  opacity: 0;
  transition: opacity 0.45s, transform 0.45s;
  transition-delay: 1s;
}

.back .caption:before{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0,1);
}

.back .caption:after{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale(1,0);
}

.card.flipped .back .caption:before,
.card.flipped .back .caption:after {
  opacity: .9;
  transform: scale(1);
}

.back dl{
  /*font-family:'Lato', Arial, sans-serif;*/
  font-weight:300;
  bottom:40px;
  left:40px;
  position: absolute;
  opacity: 0;
  transition: opacity .35s, transform .35s;
  transition-delay: .85s;
  transform: translate3d(-40px,0,0);
}

.card.flipped .back dl {
  opacity: 1;
  transform: translate3d(0,0,0);
}

dl:hover {
  color: brown;
}

dl dt{
  float: left;
  width: 60px;
  overflow: hidden;
  clear: left;
  text-align: right;
  font-weight:700;
}

dl dd{
  margin-left: 80px;
  text-align:left;
}

dl dd:before,
dl dd:after{
  display: table;
  content: " ";
}

dl dd:after{
  clear: both;
}

.front:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}

figure a{
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#my-cards {
  display: grid;
  /*grid-template-rows: .5fr 2fr 2fr;*/
  justify-items: center;
  align-itmes: center;
}

.my-card {

  background-color: transparent !important;
  opacity: .8;
  width: 60%;
  height: 28vh;
  /*margin: 4vh;*/
  display: grid;
  align-items: end;
  justify-items: center;
}

.my-card-top {
  background-color: #0A373A !important;
  opacity: .8;
  width: 80%;
  height: 12vh;
  margin: 4vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.my-card-top:hover {
  /*opacity: .7;*/
}

.card-content {
  font-size: 2.2vh;
  padding: 5vh;
  color: black !important;
  font-weight: 1000;
  opacity: 0.75;
}

.card-content-top {
  font-size: 3vh;
  /*padding: 8vh;*/
}

#skills-title {
  font-size: 3vh;
}

.card-content ul:not(.browser-default)>li {
    list-style-type: disc !important;
}

.coll-header {
  color: black;
  opacity: 0.75;
}

