html, body {
  font-family: 'Abel', sans-serif !important;
  background-size: cover;
  background-color: #2A2A2A;
  color: white;
  width: 100%;
  text-transform: uppercase !important;
  height: 100%;
}

h2 {
  color: white !important;
  font-size: 7vh !important;
}

a {
  font-style: none !important;
  color: white !important;
}

a:hover {
  font-style: none;
  text-decoration: none;
  color: grey !important;
}

li {
  text-decoration: none;
  list-style: none;
}

input {
  border-color: black;
  border-width: 1px;
}

input:focus {
  outline: none;
}

.title {
  color: black;
}

#contain {
  position: relative;
  min-height: 100%;
}

#topit {
  width: 100%;
  height: 5vh;
  background-color: white;
}

.project {
  margin-bottom: 7vh;
  margin-top: 2vh;
  justify-self: center;
}

.project img {
  filter: brightness(70%);
}

#main {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 42px;
}

#wrap {
  margin-left: 8vh;
  display: grid;
  justify-items: stretch;
}

#navigate {
  margin-top: 2vh;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 15vh;
  margin-bottom: 8vh;
}

#footer {
  margin-bottom: -2vh;
  position: absolute;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 10vh;
  background-color: black !important;
}

#welcome {
  font-size: 5vh;
}

#below-welcome {
  margin-left: 0.5vh;
  font-size: 2vh;
}

.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 4vh;
}

.navigate-items {
  font-size: 2.2vh;
  font-weight: bold;
}

.nav-item-back {

}

#about-title {
  color: black;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 48%;
  background: red;
}

#projects-title {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 4vh;
}

#projects-title a {
  /*color: black;*/
}

#project-container {
  margin-top: 15vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

#todd {
  position: relative;
  width: 12%;
}

#johnson {
  position: absolute;
  width: 14%;
  margin-top: -1.1vh;
  margin-left: 2vh;
}

#dev {
  display: grid;
  align-items: top !important;
  justify-items: center !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: white;
  background-color: black;
  padding: 2vh 4vh 2vh 4vh;
  width: 120vh;
  height: 25vh;
  text-align: center;
  font-size: 14vh;
}

#programmer {
  display: grid;
}

.contained, figure{
  width: 100vh;
  height: 55vh;
}

.contained{
  -webkit-perspective:1000;
          perspective:1000;
}

.card{
  position: relative;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

figure{
  background: #2e5d5a;
  -webkit-background: #2e5d5a;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
          box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

figure.front{
  transform: rotateY(0deg);
  -ex: 2;ex: 2;
}

figure.back,
.card.flipped{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

figure img{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 2em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front .caption{
  font-size: 1.25em;
}

.caption:hover {
  font-weight: bold;
}

.front .caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(72,76,97,0)), color-stop(75%, rgba(72,76,97,0.8)));
  background: -o-linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  -webkit-background: -webkit-gradient(linear, left top, left bottom, from(rgba(72,76,97,0)), color-stop(75%, rgba(72,76,97,0.8)));
  -webkit-background: -webkit-linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  transform: translate3d(0,50%,0);
  -webkit-transform: translate3d(0,50%,0);
  -webkit-transition: /*opacity*/ 0.35s, -webkit-transform 0.35s;
  -o-transition: /*opacity*/ 0.35s, transform 0.35s;
  transition: /*opacity*/ 0.35s, transform 0.35s;
  transition: /*opacity*/ 0.35s, transform 0.35s, -webkit-transform 0.35s;
  transition: /*opacity*/ 0.35s, -webkit-transform 0.35s;
}

.front:hover .caption:before{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.front h2{
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #272833;
  -webkit-transition: color 0.35s, -webkit-transform 0.35s;
  transition: color 0.35s, -webkit-transform 0.35s;
  -o-transition: transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s, -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
  -webkit-transform: translate3d(0,-50%,0);
}

.front h2:after{
  position: absolute;
  bottom: -10px;
  left: 70px;
  right: 70px;
  height: 2px;
  background: #fff;
  -webkit-background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transform: translate3d(-130%,0,0);
  -webkit-transform: translate3d(-130%,0,0);
}

.front:hover h2 {
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.front:hover h2:after {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.front p {
  letter-spacing: 1px;
  font-size: 68.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  /*opacity: 0;*/
  transform: translate3d(0,10px,0);
  -webkit-transform: translate3d(0,10px,0);
  -webkit-transition: /*opacity*/ 0.35s, -webkit-transform 0.35s;
  -o-transition: /*opacity*/ 0.35s, transform 0.35s;
  transition: /*opacity*/ 0.35s, transform 0.35s;
  transition: /*opacity*/ 0.35s, transform 0.35s, -webkit-transform 0.35s;
  transition: /*opacity*/ 0.35s, -webkit-transform 0.35s;
}


dl:hover {
  color: grey;
}

dl dt{
  float: left;
  width: 60px;
  overflow: hidden;
  clear: left;
  text-align: right;
  font-weight:700;
}

dl dd{
  margin-left: 80px;
  text-align:left;
}

dl dd:before,
dl dd:after{
  display: table;
  content: " ";
}

dl dd:after{
  clear: both;
}

.front:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

figexent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact-form {
  width: 50vh;
  background-color: white !important;
  color: black;
  padding: 2vh;
  margin-top: -4vh;
  text-align: center;
}
#about-inquiries {
  font-size: 2vh;
  text-align: center;
}

#black-drop {
  grid-area: main;
  margin-top: 4vh;
}

#message {
  resize: none;
  border-color: black;
  border-width: 1px;
}

#inquiry-button {
  width: 30vh;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  padding: 1vh 2vh 1vh 2vh;
}

.black-back {
  padding: 2vh 3vh 2vh 3vh;
  background-color: black !important;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.white-back {
  margin-left: 3vh;
  padding: 2vh 3vh 2vh 3vh;
  background-color: white !important;
  color: black;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}


/* CSS Animations */


#contact-title {
  color: black;
  font-size: 4vh;
  background-color: white;
  width: 50%;
  animation-name: titleAdjust;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes titleAdjust {
  from {
    color: black;
    background-color: white;
  }
  to {
    color: white;
    background-color: black;
  }
}


#contacted {
  text-align: center;
  background-color: white !important;
  color: black;
  width: 50vh;
  animation-name: contacted;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0.0;
}

@keyframes contacted {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}


#contact-me {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 2vh;
  grid-template-columns: 100px [main-start] 1fr [main-end] 100px;
  animation-name: contacting;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes contacting {
  from {
    background-color: white;
    padding-bottom: 0;
  }
  to {
    background-color: black;
    padding-bottom: 10vw;
    width: 100%;
  }
}


.dev-animation {
  -webkit-animation-name: develop;
          animation-name: develop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: center;
}

@-webkit-keyframes develop {
  from {
    color: white;
    background-color: black;
  }
  to {
    width: 100%;
    margin-top: -4vh;
    margin-bottom: 10vh;
    padding-bottom: 65vh;
    padding-top: 5vh;
    color: black;
    background-color: white;
  }
}

@keyframes develop {
  from {
    color: white;
    background-color: black;
  }
  to {
    width: 100%;
    margin-top: -4vh;
    margin-bottom: 10vh;
    padding-bottom: 59vh;
    padding-top: 5vh;
    color: black;
    background-color: white;
  }
}


/* Project Page Animations */


#project-container {
/*  -webkit-animation-delay: -1s;
          animation-delay: -1s;*/
  -webkit-animation-name: marginalized;
          animation-name: marginalized;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes marginalized {
  from {
    margin-top: 15vh;
  }
  to {
    margin-top: 0vh
  }
}

@keyframes marginalized {
  from {
    margin-top: 15vh;
  }
  to {
    margin-top: 0vh
  }
}


#projects-title-back {
  /*background-color: black;*/
  display: grid;
  justify-items: center;
  width: 30%;
  height: 10vh;
  -webkit-animation-name: projected;
          animation-name: projected;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes projected {
  from {
    color: white;
    background-color: black;
    padding-bottom: 0;
  }
  to {
    margin-top: 0vh;
    color: black;
    background-color: white;
    width: 80%;
    padding-bottom: 220vh;
    padding-right: 10vh;
    padding-left: 10vh;
  }
}

@keyframes projected {
  from {
    color: white;
    background-color: black;
    padding-bottom: 0;
  }
  to {
    margin-top: 0vh;
    color: black;
    background-color: white;
    width: 80%;
    padding-bottom: 220vh;
    padding-right: 10vh;
    padding-left: 10vh;
  }
}

#projects {
  -webkit-animation-name: reveal;
          animation-name: reveal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -moz-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -moz-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -
  opacity: 0.0;
}

@-webkit-keyframes reveal {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes reveal {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}



#projects-head {
  -webkit-animation-name: title-fade;
          animation-name: title-fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  text-align: center;
  font-size: 60px;
  background-color: black !important;
  color: white !important;
  padding: 1vh 2vh 1vh 2vh;
  opacity: 0.0;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

@-webkit-keyframes title-fade {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes title-fade {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

#brief {
  color: black;
  font-size: 2vh;
  -webkit-animation-name: briefing;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes briefing {
  from {
    padding-bottom: 5vh;
  }
  to {
    padding-bottom: 12vh;
  }
}
